.primaryColor1
{
	background-color: #88D9E6 !important;
}
.primaryColor2
{
	background-color: #FFFFFF !important;
}
.primaryColor3
{
	background-color: #143642 !important;
}
.primaryColor4
{
	background-color: #EC9A29 !important;
}

.textColor1
{
	color: #88D9E6 !important;
}
.textColor2
{
	color: #FFFFFF !important;
}
.textColor3
{
	color: #143642 !important;
}
.textColor4
{
	color: #EC9A29 !important;
}

.shadows
{
	box-shadow: 0 0 2px 2px #2B3D41 ;
}